.main {
    background-color: #8cbeca;
    width: 98%;
    margin: .5rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border-radius: 1rem;
    backdrop-filter: blur(10px);
}

.image {
    width: 4rem;
    height: 4rem;
}
.editandDel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.edit {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    transition: all .3s;
}

.delete {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    margin-left: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    transition: all .3s;
}

.delete:hover, .edit:hover {
    background: rgba(253, 255, 255, 0.541);
    transform: scale(1.12);
}

.name p {
    font-weight: 600;
    font-size: 1.2rem;
}

.email p {
    font-weight: 500;
    font-size: 1.1rem;
}

@media (max-width: 850px) {
    .image {
        display: none;
    }

    .name p {
        font-size: .9rem;
    }
    
    .email p {
        font-size: .8rem;
    }
    
    .edit{
        width: 1.5rem;
        height: 1.5rem;
        padding: .5rem;
    }

    .delete{
        width: 1.5rem;
        height: 1.5rem;
        padding: .5rem;
    }
    .main {
        width: 90%;
    }
}